.register{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.registerLeft, .registerRight{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLogo{
    font-size: 40px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.registerDesc{
    font-size: 18px;
}

.registerBox{
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerInput{
    height:50px;
    border-radius: 10px;
    border:1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.registerInput:focus{
    outline: none;
}

.registerButton{
    height: 50px;
    border:none;
    border-radius: 10px;
    background-color: #1775ee;
    color:white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.registerForgot{
    text-align: center;
    color:#1775ee;
}

.registerLoginButton{
    width: 65%;
    align-self: center;
    height: 50px;
    border:none;
    border-radius: 10px;
    background-color: #42b72a;
    color:white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

/* MOBILE VIEW */
@media screen and (max-width: 480px) {
    .registerLogo {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  
    .registerWrapper {
      width: 90%;
      height: 70%;
      display: flex;
    }
  
    .registerDesc {
      font-size: 10px;
    }
  
    .registerBox {
      height: 180px;
      padding: 15px;
    }
  
    .registerInput {
      height: 20px;
      font-size: 10px;
      padding-left: 10px;
    }
  
    .registerButton {
      height: 15px;
      border-radius: 5px;
      font-size: 10px;
      font-weight: 300;
    }
  
    .registerForgot {
      font-size: 12px;
    }
  
    .registerLoginButton{
      width: 100%;
      height: 15px;
      align-self: center;
      border-radius: 5px;
      font-size: 9px;
      font-weight: 300;
      margin-left: 0px;
    }
  }
  
  /* TABLET VIEW */
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    .registerLoginButton {
      width: 100%;
      margin-left: 0px;
      height: 45px;
    }

    .registerButton{
        height: 45px;
    }

    .registerInput{
        height:45px;
    }
  
    .registerWrapper {
      width: 90%;
      height: 70%;
      display: flex;
    }
  
    .registerLogo {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  
    .registerDesc {
      font-size: 15px;
      text-align: left;
    }
  
    
  }